swagger: "2.0"
info:
  description: From the todo list tutorial on goswagger.io
  title: A Todo list application
  version: 1.0.0
consumes:
  - application/json
produces:
  - application/json
schemes:
  - http
paths:
  /:
    get:
      tags:
        - todos
      parameters:
        - name: since
          in: query
          type: integer
          format: int64
        - name: limit
          in: query
          type: integer
          format: int32
          default: 20
      responses:
        200:
          description: list the todo operations
          schema:
            type: array
            items:
              $ref: "#/definitions/item"
        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /health:
    get:
      tags:
        - health
      responses:
        200:
          description: Application is healthy
          schema:
            $ref: "#/definitions/health"
        503:
          description: Application is NOT healthy
          schema:
            $ref: "#/definitions/health"
  /login:
    post:
      tags:
        - login
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/login"
      responses:
        200:
          description: Login was successfull
        403:
          description: Credentials wrong

  /register:
    post:
      tags:
        - register
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/register"
      responses:
        200:
          description: Registration successfull
        400:
          description: Username or E-Mail already used
definitions:
  item:
    type: object
    required:
      - description
    properties:
      id:
        type: integer
        format: int64
        readOnly: true
      description:
        type: string
        minLength: 1
      completed:
        type: boolean
  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string
  health:
    type: object
    properties:
      status:
        type: string
  login:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    required:
      - username
      - password
  register:
    type: object
    properties:
      username:
        type: string
      email:
        type: string
      password:
        type: string
    required:
      - username
      - password
      - email



